[2016-03-18 05:21] Vheissu opened #2 "Webpack Loader does not account for compose view being rendered from server"
I have a custom element which loads HTML from a server endpoint. In the standard es-2016 and TypeScript skeletons this functionality works fine. However, using the Webpack starter, specifically the loader, due to the way dependencies are resolved with a map, you can no longer do this.

**HTML:**
[code]

**Javascript:**
[code]

The offending part of the loader appears to be this:

[code]

It assume

[2016-03-22 16:04] deitch opened #3 "File importing child and grandchild fails"
I have a file `a.html` that depends on `b` and `c`:

[code]

`b.html` also depends on `c`, so it includes the following:

[code]

In this case, if the timing is right, I get an error while importing `c`:

[code]

The error manifests in aurelia-pal-browser.js in `createTemplateFromMarkup`, but that is only because it is passed an empty `markup` parameter to the method.

The core appears to be in `W

[2016-03-24 20:41] deitch commented on #3
I can close this. Turns out it was the Firefox caching issue mentioned earlier and not aurelia or webpack.

[2016-03-24 20:41] #3 closed

[2016-04-02 14:47] Jaans opened #5 "Feature Request: Hot loading of views and models"
I'm sure webpack hot loading feature impresses and speaks for itself. I know I am.

Which brings me to dream about whether this would be possible to achieve with Aurelia models and views?

Found the following information about enabling hot module replacement / loading on webpack website, but sadly I'm out of my depth here: [Hot Module Replacement](https://webpack.github.io/docs/hot-module-replacem

[2016-04-20 14:32] PWKad opened #8 "Issues with requiring CSS from plugin"
More details here -

https://github.com/aurelia/dialog/issues/127

But I believe if a plugin requires css from html file it fails.

[2016-04-20 14:34] plwalters commented on #8
Also this seems related - https://github.com/aurelia/dialog/issues/135

[2016-04-20 14:38] Thanood commented on #8
Maybe related: https://github.com/aurelia/webpack-plugin/issues/11

[2016-05-12 22:55] valichek commented on #8
Here is the solution how to avoid errors when using `<require from="dialog.css">`. Just two line in webpack config needed.

[code]

First we load it with raw-loader and exclude it from loading with css-loader, and you go

[2016-06-10 16:52] zikrimarquel opened #10 "Main Website bug?"
I recently know aurelia from quora, and when i opened the main website(aurelia.io). It seems the website having a trouble.
![selection_009](https://cloud.githubusercontent.com/assets/7337736/15972027/5756a9b2-2f66-11e6-93d8-b84def954a9b.png)

[2016-06-10 17:37] EisenbergEffect commented on #10
Tha's odd. The video is hosted on Vimeo, so perhaps there was a temporary service issue with them? I just checked it now and it seems fine.

[2016-06-10 17:37] #10 closed

[2016-06-11 13:54] zikrimarquel commented on #10
Oh so it's a video from vimeo? Sorry for the misunderstanding. For your information, vimeo is blocked in my country.

[2016-06-22 11:08] heruan opened #11 "Can't resolve 'aurelia-loader-context'"
I'm new to webpack and I set up a very simple project with just this `index.js`:

[code]

but trying to bundle with webpack I get this warning:

[code]

and if I ignore it and run the app in the browser I get this:

[code]

[2016-06-22 13:45] heruan commented on #11
Using `AureliaWebpackPlugin` in webpack.config.js solves this, and I also understood the use of `packages.json/aurelia/build/resources`. I now get this instead:

[code]

where it seems to be an incorrect `aurelia-bootstrapper-webpack` string in the path, e.g. in

[code]

which does not exists but

[code]

does.

[2016-06-22 13:58] heruan commented on #11
Related to https://github.com/aurelia/webpack-plugin/issues/39.

[2016-06-22 13:58] #11 closed

[2016-06-25 17:32] efolio commented on #5
+1

[2016-07-04 18:49] EisenbergEffect commented on #2
@Vheissu Has this been addressed with the latest webpack setups?

[2016-07-04 23:31] Vheissu commented on #2
@EisenbergEffect The issue is that Webpack can't work with dynamic imports. I actually wrote a solution using inlineViewStrategy which achieves dynamic loading without needing to define your imports upfront. http://ilikekillnerds.com/2016/04/loading-html-url-endpoint-aurelia-using-webpack/

[2016-07-04 23:31] #2 closed

[2016-07-04 23:31] Vheissu commented on #8
I believe this issue is fixed in the latest Webpack implementation stuff @PWKad ?

[2016-07-05 14:41] #8 closed

[2016-07-14 13:59] niieani opened #12 "ViewLocator type error when using Webpack"
@heruan commented on [Mon Jul 11 2016](https://github.com/aurelia/templating/issues/418)

The `CompositionContext` interface has `viewModel` defined as:
[code]
but if it's set to a view model instance when using Webpack, I get this error:
[code]
because `viewModel` seems assumed to be a string.

To reproduce simply use this as `main.js` in skeleton-esnext-webpack:
[code]

This happens using Webpac

[2016-07-15 19:50] niieani commented on #12
Fixed in https://github.com/aurelia/webpack-plugin/commit/a69b8f0dad41996d47324c75bb71df1c8dc86cfc.

[2016-07-15 19:50] #12 closed

[2016-07-15 19:53] EisenbergEffect commented on #12
Impressive.

[2016-07-15 20:06] niieani commented on #12
@EisenbergEffect :) While working on this I've also added a deprecation warning here https://github.com/aurelia/webpack-plugin/commit/053592793c312373b059ef866e8beb4578457b7f and made loaders used by the `View`s configurable here: https://github.com/aurelia/webpack-plugin/commit/b8f87d6973e6d981ef105a4be2a1d076ed829f44

[2016-07-21 12:35] niieani commented on #5
Good news: We're investigating a possible implementation.

[2016-07-21 21:45] d-ph opened #14 "My feedback of module loading and webpack support in Aurelia."
**I'm submitting a feature request**

Hello,

I'd just like to share with you a few opinions of mine about Webpack support in Aurelia.

I think things would be a lot easier for everyone, if all dependencies between files in Aurelia were discoverable statically from just looking at the source files. This is what makes Webpack shine and work without causing headaches and without need for additional

[2016-07-22 09:55] niieani commented on #14
First of all thanks for taking the time to think about this. It's really important for us to hear and react to external feedback. Kudos!

Now to the matter at hand: I've actually already thought about this in the past, and as a maintainer of the Webpack components, I've asked the very same question to the designers of Aurelia and Aurelia's router: why pass path-strings instead of actual Objects -

[2016-07-22 09:55] #14 closed

[2016-07-24 15:49] d-ph commented on #14
Hi niieani,

Thanks for such an extensive reply. I really appreciate that.

Regarding the router scenario: I completely agree, that `import`ing every module to configure the router is an insane idea (because devs would essentially end up with 1 big javascript file, that contains all the source code (and by the way, I am surprised, that there were people that thought this would work out)). On the o

[2016-07-24 16:01] niieani commented on #14
I agree with you for the most part, although as you say, it's a bit too late to make such fundamental changes to the way we load modules. It's possible to implement an additional method of loading modules, but it's ingrained in so many of Aurelia's modules (and the ecosystem) that it would be a big endeavor. Feel free to fork and experiment - if you're successful we'll consider merging the support

[2016-07-24 16:12] d-ph commented on #14
Ok.

Thanks again for spending your time going through and understanding my point of view.

[2016-07-24 18:07] heruan commented on #12
Great! Can't wait to have this released 🌹

[2016-07-28 14:22] sickboy opened #15 "Bug in import function of webpack plugin"
There's a bug in the webpack loader _import implementation,
when you require the same resource multiple times from within the same template, then the import function will return an object on all subsequent calls, and only the first call will resolve properly.

Viewmodel error will be: `No view model found in module "..."`
Template error will be: `Template markup must be wrapped in a <template> ele

[2016-07-28 16:46] niieani commented on #15
Can you post that workaround again, seems something got lost, I can't make out what's the code supposed to do? Thanks

[2016-07-28 17:04] patroza commented on #15
@niieani I am caching the promise based on moduleId, so that on re-entry of the import method, the cached instance is being re-used.

(So far what I believe is going wrong is that the second time the request is made, it is made without a loader specified)

I hope I can find some time to make a repro project for you, it's just really busy atm..

[2016-07-28 17:06] niieani commented on #15
I think that's a race condition, where certain variables are already set when the second loading is being done. Can you post the full code of your workaround, please?

[2016-07-28 17:15] patroza commented on #15
@niieani

inside the `dist\commonjs\aurelia-loader-webpack.js`

[code]

[2016-07-28 17:22] niieani commented on #15
Thank you. I'll try to get this fixed soon.

[2016-07-28 18:09] patroza commented on #15
@niieani thanks a lot. I had the issue before with CSS files since the RC, and since the Stable it happens on all files, somehow that's a relief :)
I also wonder if this might've been the root cause of my other issue before (`can't call call of undefined` when running with the multi chunks)

[2016-07-28 19:25] niieani commented on #15
Good that we're tracking this then. Could you give me a a short snippet of how I could reproduce this in testing?

[2016-07-28 22:01] #15 closed

[2016-07-28 22:40] niieani commented on #15
A release with this in will be out shortly.

[2016-07-29 04:18] jsobell opened #16 "Runtime error with latest patch: 'Cannot read property '_getActualResult' of null'"
[code]
Same result on the skeleton project

[2016-07-29 06:48] Vheissu commented on #16
Submitted a PR here that fixes this: https://github.com/aurelia/loader-webpack/pull/17

[2016-07-29 09:32] niieani commented on #16
Ugh, sorry about that. Thanks for the fix.

[2016-07-29 09:32] #16 closed

[2016-07-30 08:55] patroza commented on #15
@niieani thanks, however now this one is back :(

https://github.com/aurelia/skeleton-navigation/issues/613#issuecomment-236354161

(I dont know if it ever was really away, as it just appears and disappears from compile to compile :))

[2016-08-16 04:23] alu opened #18 "We have to delete cache of wepback when __webpack_require__ fail."
This loader does try load any modules by  __webpack_require__. The code is [here](https://github.com/aurelia/loader-webpack/blob/master/src/index.js#L115-L119).

Webpack always caches to information of module. Please look following sample (generated by webpack).

[code]

So, if you try `require.ensure` after `__webpack_require__`, we can't get module exports.

We have to delete the cache.

[code]

[2016-08-16 10:46] #18 closed

[2016-08-16 10:47] niieani commented on #18
Good catch, thanks. I've made the correction.

[2016-08-16 18:29] niieani opened #19 "modules[moduleId].call breaks aurelia-testing"
https://github.com/aurelia/testing/issues/21

[2016-08-18 00:45] alu commented on #18
Thanks for fix!

I waiting for next version that are includes this fix :)

[2016-08-23 04:33] smax48 opened #20 "Make possible to use a different name for the app chunk"
**I'm submitting a feature request**
- **Library Version:**
  1.0.2

**Please tell us about your environment:**
- **Operating System:**
  Windows 8.1
- **Node Version:**
  4.4.5
- **NPM Version:**
  3.9
- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.21
- **Browser:**
  all
- **Language:**
  TypeScript 2.0

**Current behavior:**

aurelia-loader-webpack always names the application chunk as

[2016-08-23 07:41] niieani commented on #20
Thanks. I'm working on an update.

[2016-09-02 03:48] alu commented on #18
@niieani Do you have plan that release new version?

[2016-09-02 11:38] niieani commented on #18
I'm working on some more fixes and thought I'd make them all before new releases, but I guess we could make a bugfix release with just this one change, since I don't know when I'll be ready with other fixes.
@EisenbergEffect loader-webpack should be okay to release with this fix.

[2016-09-05 08:20] alu commented on #18
@niieani OK, Thank you for response!

[2016-09-16 01:11] alu commented on #18
@EisenbergEffect Please check this, because i can't upgrade to aurelia 1.x, depend on this issue.

[2016-09-16 01:26] EisenbergEffect commented on #18
@niieani I must have missed this somehow. Are you still good for a release?

[2016-09-16 09:18] niieani commented on #18
@EisenbergEffect yes, let's do it! :) I was wondering why it didn't get released along with the recent updates.

[2016-09-22 19:09] niieani commented on #18
Released!

[2016-09-23 02:42] alu commented on #18
Thanks!

[2016-10-03 05:03] EisenbergEffect commented on #20
@niieani How is this coming?

[2016-10-03 13:34] niieani commented on #20
I've been working on splitting up the webpack plugin into 3-4 separate plugins / loaders, some usable even outside of Aurelia.
It's a major rewrite, but it should solve 90% of all the issues currently open in the Webpack plugin and Webpack loader repos (and there are quite a few), including this one.

Since the current plugin does so much already (some developers called it "magic"), it'll also be

[2016-10-03 14:43] EisenbergEffect commented on #20
@niieani Thanks for the update. Please keep us posted. This is an important effort and your hard work is much appreciated.

[2016-10-06 04:15] Vheissu commented on #20
@niieani I am definitely down to help out with this. I think it is a great idea. I am moving this weekend, but after that, I'll have a bit of time to help out.

[2016-10-06 09:17] niieani commented on #20
Thanks for the offer @Vheissu. I'm still pretty busy myself, so we can dig into this when you're ready.

[2016-10-20 14:00] spencewood commented on #19
I hate to bring this up again, but as I mentioned in the above ticket three weeks ago, this issue is blocking me from updating to the ^1.0.0 release of Aurelia with webpack.

Is there is an update, quick fix or workaround for this issue, I would be very appreciative.

[2016-10-20 16:46] niieani commented on #19
You could try using the older, loader-webpack@1.0.0 instead of 1.0.3. It might work, but might also introduce other bugs. Otherwise, the fix should land sometime in November.

[2016-10-26 18:08] stevies commented on #19
This problem appears to affect ES6 code also - not just TS.  See:

https://github.com/aurelia/testing/issues/40

Effectively blocking all testing of viewmodels, custom elements, etc.

[2016-10-26 20:25] niieani commented on #19
Yes, it's not written anywhere that it's TS specific. It's not related to the language.

[2016-10-26 21:29] rokadias commented on #19
I might be having the same issue. WebpackLoader.loadModule fails with `Unhandled rejection Error: Loading chunk 0 failed.`

Snippets of relevant code looks like:

[code]

[code]

[2016-10-26 22:17] smax48 commented on #19
We have a very large BI application that is being written using Aurelia. This issue is effectively blocking all unit testing for UI components.

[2016-10-27 01:33] niieani commented on #19
I will be tackling this in the next week or two.

[2016-10-27 22:37] stevies opened #21 "ModuleNotFoundError: Module not found: Error: Can't resolve 'aurelia-loader-context'"
Aurelia ES6 Webkit.

Getting this error when trying to run unit tests with Wallaby.

ModuleNotFoundError: Module not found: Error: Can't resolve 'aurelia-loader-context' in 'D:\WebstormProjects\my_app\node_modules\aurelia-loader-webpack\dist\commonjs'

Happens when I add:

[code]

to \test\unit\setup.js - or any other .spec.js test.

Let me know if this is a Wallaby problem and I'll raise a ticket

[2016-10-27 23:22] JohnCampionJr commented on #5
Any luck on this?  Would be so great to have!

[2016-10-28 11:40] niieani commented on #5
I will be focusing on this once I solve most of the current issues with the Webpack-Aurelia integration in November, as I'll need a solid architecture to build on. Hot reloading for Views will be available first, as that poses fewer challenges.

[2016-10-28 11:53] niieani commented on #21
Seems like Wallaby is not loading the AureliaWebpackPlugin. I don't have a license for Wallaby, so hard for me to help with that particular problem, I believe it could be solved with the right configuration file for Wallaby.

[2016-10-28 12:32] stevies commented on #21
Thanks.  I'll see what I do with the Wallaby config.  In any case, it may be that this gets fixed when #19 gets resolved.

For info - this is my wallabyjs config file - works perfectly until I add :

[code]

to a test.

[code]

This is my webpack.conf.js file:

[code]

[2016-10-29 18:11] JohnCampionJr commented on #5
Awesome, thanks!  Appreciate your hard work

[2016-10-29 18:44] JohnCampionJr opened #22 "@noView not loading in Webpack"
**I'm submitting a bug report**

* **Library Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1 LTS

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.25

* **Browser:**
all

* **Language:**
TypeScript 2.0

**Current behavior:**
@noView(['nprogress/nprogress.css'])
seems to be ignore by the webpac

[2016-10-30 01:17] niieani commented on #22
This is not a bug, you are missing a build resource declaration (see http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/bundling-webpack/6). Matching HTML just makes the webpack plugin automatically read all the `require from` to include the build resource. You can simply add your CSS file as a build resource to `package.json`, no need to create a matching HTML file.

[2016-10-30 01:17] #22 closed

[2016-11-02 22:23] dev0x10 opened #23 "[Question] No view model found in module "app""
**I'm submitting a bug report**

* **Library Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.1

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.7

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Firefox 49.0.2

* **Language:**
ESNext

**Current behavior:**
Cannot load app view

**Expected/desired behavior:**

App view loaded

[2016-11-04 15:19] niieani commented on #23
The new, experimental Webpack-Aurelia stack should fix this. Will be available soon.

[2016-11-05 20:46] dev0x10 commented on #23
@niieani could you tell me where is the problem because I haven't debug it deeper.
 Is there any workaround?

[2016-11-07 09:20] stevies commented on #19
Any update on this?  Sorry to hassle you.

[2016-11-07 19:43] ohjames opened #24 "causes webpack to source every module in node_modules/package.json and my project whether it is used by my code (as in transitively included by an entrypoint) or not."
In my `package.json` (and therefore `node_modules`) I have dependencies for the front-end and the back-end. When I run webpack using the config from the esnext skeleton I get a lot of errors like this:

[code]

Something in `aurelia-loader-webpack.js` pulls in every single dependency listed in my package.json and/or node_modules?

[2016-11-07 19:51] insidewhy commented on #24
Looks related to:
- https://github.com/aurelia/webpack-plugin/issues/25
- https://github.com/aurelia/webpack-plugin/issues/12

[2016-11-07 20:58] niieani commented on #19
@stevies It's almost ready, but something got in the way of me finishing it. Give it a few more days.

[2016-11-07 23:52] insidewhy commented on #24
I had to make `config.externals` a list of every server-side only package. Not sure why this is necessary... would have though webpack would know exactly which modules the client is using.

[2016-11-08 13:33] insidewhy commented on #24
It includes every module in `package.json` _and_ in my project. I was surprised to see a module that wasn't transitively reachable from any entrypoint end up in my build.

I'm convinced now that the way loader-webpack works is by taking every accessible module, whether from `node_modules` or my source directories. Could you explain why this is the case? In every other webpack project I've been usi

[2016-11-08 14:25] niieani commented on #24
This will soon be fixed. Stay tuned.

[2016-11-13 06:46] #23 closed

[2016-11-17 10:25] stevies commented on #19
Does your work on the new experimental skeleton mean that you now have no plans to fix this defect?

[2016-11-17 10:48] niieani commented on #19
@stevies the new Webpack plugins which are used by the nee skeleton **is** the fix for this defect. Aurelia Webpack Plugin, which is the culprit here, will be deprecated, but migration to the new set of Webpack plugins will be straight forward and very easy. For those using easy-webpack I'll simply create a major version bump on @easy-webpack/config-aurelia which contains all the changes.

[2016-11-17 10:49] stevies commented on #19
Cool.  I'll wait on the new stuff being released.

[2016-11-19 17:18] EisenbergEffect commented on #21
Improvements coming in next releases.

[2016-11-19 17:18] #21 closed

[2016-11-23 13:00] niieani commented on #5
We've had a breakthrough last night ;)

![Aurelia HMR](https://www.dropbox.com/s/kgv5xpik0pvhe7k/2016-11-23%2002.24.23.gif?dl=1)

Coming soon for all!

[Retweet](https://twitter.com/niieani/status/801236402281336837/photo/1) if you so desire. :)

CC for thumb uppers: @MrHayato, @heruan, @MarkHerhold, @atsu85, @tobias-kuendig, @nmocruz, @raiseandfall, @NunoCruzSW, @DerAlbertCom, @DaveEmmerson, @nmo

[2016-11-25 09:02] kdekooter commented on #8
Sorry folks but it looks like it has not been fixed yet:

[code]

[2016-11-25 09:35] niieani commented on #8
@kdekooter was fixed in https://github.com/aurelia/webpack-plugin/commit/472558fc33862832b4192896434946fd935e429e which isn't yet released. This is a new problem, caused by breaking changes in latest betas of Webpack v2.

You can workaround this problem either by updating `@easy-webpack/config-aurelia` (if you use it), or simply by passing the `customViewLoaders` option to the WebpackPlugin with t

[2016-11-25 09:39] kdekooter commented on #8
Thanks for the swift response @niieani. That saved my day!

[2016-12-01 12:33] sebastien-roch commented on #24
@niieani any news on this? I added a d.ts file in my project and webpack tries to load it, which fails of course because no loader takes care of this kind of files. Thanks!

[2016-12-01 12:40] niieani commented on #24
@sebastien-roch this will be fixed by https://github.com/aurelia/skeleton-navigation/issues/714. PR is ready, so it's a matter for days before you can use it.

[2016-12-01 12:53] sebastien-roch commented on #24
@niieani thanks for the update, looking forward to this merge. For now do you have any workaround to handle those `*.d.ts` files? Is there currently a way to exclude them from bundling?

[2016-12-01 12:55] niieani commented on #24
Hmm, you could move them our of the `src` directory, that should help.

[2016-12-01 12:59] sebastien-roch commented on #24
I thought there would be a better workaround ;-)
Will try that for now, thanks!

[2016-12-04 00:01] stevies commented on #19
Any updates?  I'm probably going to have to look at switching to using something other than Webpack in the short to medium term.  Last time I looked at the CLI for building it was horrible to use, but I might have to live with that since not being able to test anything is a real problem.

[2016-12-08 04:55] #5 closed

[2016-12-09 16:37] heruan opened #27 "Module not found: Error: Can't resolve 'css'"
Suddenly I get this warning:

[code]

Webpack's guys told me `aurelia-loader-webpack` may be missing `-loader` somewhere, which became mandatory for loaders in the latest betas.

[2016-12-10 10:39] niieani commented on #27
I reckon you're not using easy-webpack which fixed this in a patch release.

Please add [this configuration property](https://github.com/easy-webpack/config-aurelia/blob/master/src/index.ts#L7-L13) to the options passed into AureliaWebpackPlugin and it'll work properly.

[2016-12-10 10:39] #27 closed

[2016-12-12 07:24] niieani commented on #27
Solved by https://github.com/aurelia/webpack-plugin/releases/tag/1.2.0.

[2016-12-14 17:27] mdurling opened #28 "Error: Unable to find module with ID: main with Latest TypeScript/Webpack"
**I'm submitting a bug report**
We are trying to upgrade to TypeScript 2.1.4 and the latest version of Webpack. The project builds, but an exception is being thrown while trying to load Aurelia.

* **Library Version:**
[code]

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.810.8

* **JSPM OR Webpack AND Version**
webpa

[2016-12-14 18:25] niieani commented on #28
You should not be using version ^2.0.0 of aurelia-loader-webpack (see skeletons). Please use latest ^1.0.0. It's a part of the new Webpack stack that isn't fully released yet.

[2016-12-14 18:25] #28 closed

[2016-12-14 18:40] mdurling commented on #28
Thanks! Our project was based off of the original Aurelia typescript webpack skeleton. When I ran `npm outdated` which we do periodically, it showed that a new version of `aurelia-loader-webpack` was available so we tried it out. I returned it to the previous version at your suggestion and it works. It also works if I remove `aurelia-loader-webpack` from our `package.json` file altogether since it

[2016-12-14 21:04] niieani commented on #28
Sure, no problem. I recommend checking the changelogs when migrating between releases, especially major ones, since breaking changes, like this one, do occur. You can see what's coming soon with the new stack here: https://github.com/aurelia/skeleton-navigation/pull/714.

[2016-12-18 18:13] jods4 opened #29 "Building fails"
Inside a clean empty folder, running
[code]
fails.

First issue I had was a problem with `yarg` dependency from `aurelia-tools` and then `build:compile` works but there is an error with `build:doc`
[code]

[2016-12-18 18:25] jods4 commented on #29
OK I think I figure it out, I think this is a bug in `yarn`, which doesn't properly support `github:aurelia/tools#cli` as a dependency (yet)?
I thought this was working in `yarn` as I saw a `yarn.lock` file at the root.
A workaroudnd is to specify the dependency as `https://github.com/aurelia/tools.git#cli`, which seem to work.

[2016-12-18 18:25] #29 closed

[2016-12-22 11:38] mredbishop commented on #24
Is this PR in yet? This is a real pain if we need to manually track the externals.

Can I help at all in testing, coding or reviewing this as we would really benefit from it?

Cheers,

Ed

[2017-01-12 05:08] nashwaan commented on #19
Its 2017, any update on this?

[2017-01-12 19:47] niieani commented on #19
Hey guys, I'm sorry I couldn't meet the deadline I've set for myself. The remaining workload isn't overwhelming, but I'm struggling to find time to work on it since December. We might be getting a new team member soon, so hopefully, if not by me, this should be resolved relatively soon.

[2017-01-13 03:25] peterver commented on #24
I can confirm that the 2.0.0 release works perfectly :] thank @niieani !

I know this is speaking of a different repo, but for people using https://github.com/aurelia/bootstrapper-webpack/, the issue will remain until https://github.com/aurelia/bootstrapper-webpack/issues/14 is closed ( i have added a pr for it there ).

Cheers !

[2017-01-15 21:56] jods4 opened #31 "Can't use es2015 or native-modules with webpack"
Webpack throws an error when it sees a free variable `module` used in an ES module (i.e. in the same file as import or export).

`module` is found in lots of places because of `module.hot`.

The consequence is that neither es2015 nor native-modules are usable with Webpack currently.
This is important because ES modules is a prerequisite for tree shaking.

To me this seems like a bug in webpack, or

[2017-01-15 23:25] jods4 commented on #31
This was indeed a bug in webpack as `module.hot` is supposed to work.
It was fixed by the 2.2 RC5 release.

[2017-01-15 23:25] #31 closed

[2017-01-30 16:37] sludemann commented on #19
Bump.

[2017-01-30 20:11] niieani commented on #19
New release coming up in few days (~ 5 - 15).
https://github.com/aurelia/skeleton-navigation/issues/714.

[2017-02-07 13:16] pndewit opened #33 "Upgrading app from v1.0.3 to v2.0.0 breaks my app"
**I'm submitting a bug report**

* **Library Version:**
2.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3

* **Node Version:**
6.2.0

* **NPM Version:**
4.1.2

* **Browser:**
Chrome 55

**Current behavior:**
Updating from version 1.0.3 to 2.0.0 crashes my app at startup with the following error:
`Error: Unable to find module with ID: main` where `main` is my mod

[2017-02-07 13:29] jods4 commented on #33
The 2.0.0 webpack plugins have been completely redesigned. The major version bump reflects that they are not compatible with the previous ones. You will have to make several changes to get everything working.

At the moment the only documentation available is here:
https://github.com/jods4/aurelia-webpack-build/wiki

Please read it and look at the demos in the same repo. You can contact me if you

[2017-02-07 13:45] pndewit commented on #33
@jods4 I'll look into it. Nice work on those docs!!

Btw, I am familiar with semantic versioning. So I was (kind of) already expecting it to break, but I  upgraded some other packages (e.g. webpack, webpack-dev-server and aurelia-bootstrapper) some time ago and that didn't break anything for me (not something major at least). So I thought this had to do with just the latest aurelia-loader-webpack

[2017-02-07 19:20] jods4 commented on #33
Most probably not.
`webpack` upgrade from 1.x to 2.x does break a few stuff, not much though.
The `aurelia-loader-webpack` 2.0.0 release is brand new and is (by design) not sharing any of the old configuration. So without adjustments it definitely _will_ break. This is for the better though, as I hope you'd find it much simpler to use.

Ping me on gitter if you need help.

[2017-02-07 22:28] #33 closed

[2017-02-17 14:04] lukefx commented on #19
Sorry to bother you about it @niieani but, any news about that?

[2017-02-17 15:46] niieani commented on #19
Sorry @lukefx, been working on it, on and off, as I've been busy and now I'm a bit ill too, which doesn't help.

[2017-02-28 20:44] marktaling commented on #19
Came across the issue here as well. Is there any way we can help to speed along the fix? (Currently using the @easy-webpack from the skeletons)

[2017-03-29 17:42] fnzr commented on #19
Same issue here. Just pinging.

[2017-04-09 14:45] niieani commented on #21
Fixed in https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 14:46] niieani commented on #20
Fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 14:46] #20 closed

[2017-04-09 14:46] niieani commented on #19
Fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 14:46] #19 closed

[2017-04-09 14:46] niieani commented on #23
Fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 14:46] niieani commented on #24
Fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-09 14:46] #24 closed

[2017-04-14 14:34] nashwaan commented on #19
I still get errors with the new skeleton for tests that uses `StageComponent` in the browser.

Can someone else confirms whether StageComponent tests compiled by **webpack** and **run in the browser** (not jest) are working ok or not?

[2017-04-25 11:11] waywardz commented on #19
@nashwaan They are not working for me.

[2017-04-25 11:29] nashwaan commented on #19
@niieani Can you reopen this issue?

[2017-04-25 11:36] waywardz commented on #19
https://github.com/aurelia/testing/issues/21 is also similar, and currently open, though not labeled as a bug.

[2017-05-07 12:05] nashwaan commented on #19
I just like to confirm the updated skeleton has solved the issue related to asynchronous `StageComponent`.

Thanks for your efforts @niieani .
😊

[2017-10-26 12:39] sachetsharma1 opened #35 "pet"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2017-10-26 12:46] jods4 commented on #35
Submitted by error?

[2017-10-26 12:46] #35 closed

[2017-11-23 12:51] Xceno opened #36 "Missing Webpack declaration in /dist/**/*.d.ts"
**I'm submitting a bug report**

* **Library Version:** 2.1.0

**Please tell us about your environment:**
* **Operating System:** Windows 10

* **Node Version:** 6.9.1

* **NPM Version:** 3.10.8

* **yarn Version:** 1.3.2

* **Webpack:** 3.4.1

* **Browser:** all

* **Language:** TypeScript 2.6.1

**Current behavior:**
The type definition is missing a Webpack reference.

    TS2503: Cannot find na

[2017-11-23 20:44] jods4 commented on #36
This is a bug in `at-loader`.
We worked around it by temporarily disabling the types in `aurelia-webpack-plugin@2.0.0-rc.4`.
I suspect you use RC3 or before (latest is RC5).

[2017-11-23 20:45] jods4 commented on #36
Closing as a duplicate of aurelia/webpack-plugin#118

[2017-11-23 20:45] #36 closed

[2017-11-24 07:59] Xceno commented on #36
Thanks for pointing me in the right direction once again!

[2017-12-06 21:30] adriatic opened #38 "Webpack log size problem"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
8.1.3

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

I am not sure what webpack version or even tool itself am I using. The README.md in

[2017-12-07 00:41] jods4 commented on #38
We're in the process of replacing the old 1.x Aurelia webpack plugin with a new 2.0 release currently in Release Candidate form.
If you're writing tutorials, you really don't want to be using 1.x anymore as 2.0 is a complete rewrite meant to be more flexible and easier to use. More importantly, 2.0 is not backward compatible with a 1.x configuration.

Given all the `@easy-webpack` stuff I'm tempte

[2017-12-07 22:50] adriatic commented on #38
Thanks, @jods4 - more than **great** feedback. After discussing this situation pretty extensively (from the high level standpoint) with @EisenbergEffect, your more detailed comment will allow me to create the "alpha" versions of **[tutorial samples](https://github.com/aurelia-ui-toolkits/kendo-tutorials.code-2.0)** which target aurelia community developers using  **[aurelia kendoui bridge](aurelia

[2017-12-11 19:03] jods4 commented on #38
@adriatic My demos and the new skeletons should be similar when it comes to core Webpack features and both can be an inspiration. Just keep in mind that they don't have the same purpose or goal.

Skeletons are full featured setups that intent to include development config, production build, end-to-end testing and more. They have lots of dependencies on 3rd party libs and tie everything together in

[2017-12-12 02:54] adriatic commented on #38
Thanks, @jods4 - based on your explanation, what you have is perfectly fitting my needs. So, I will use is **[here](https://github.com/aurelia-ui-toolkits/kendo-tutorials.code-2.0/tree/master/skeleton-esnext-webpack)** and **[here](https://github.com/aurelia-ui-toolkits/kendo-tutorials.code-2.0/tree/master/skeleton-typescript-webpack)**, writing the same caveats you just stated yourself.

If you c

[2017-12-15 20:23] jods4 commented on #38
I'm glad it helped.
Shall we close this issue then?

[2018-01-01 17:18] adriatic commented on #38
It's really bad that GitHub does not create email notifications about added comments to any given thread 😞 . So, with apologies for being late, let's close this issue.

I would also like to share with you my success in using this new Webpack plugin in my **[Aurelia CLI Adventures](https://www.gitbook.com/read/book/adriatic/aurelia-cli)** which is my attempt to peek in the near future when Aurelia

[2018-01-01 17:18] #38 closed

[2018-03-05 11:48] jussimattila opened #39 "Code split module doesn't get updated in HMR mode"
**I'm submitting a bug report**

* **Library Version:**
2.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.7.1

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 2.3.3

* **Browser:**
all  (tested on Chrome 64 | Firefox  58)

* **Language:**
TypeScript 2.2.2

**Current behavior:**
Hot module replacement of TypeScript source

[2018-03-05 12:33] Alexander-Taran commented on #39
If you will consider providing a PR to this repo.. There are some guidelines on commit messages. Which help to build change log.

[2018-03-05 13:21] jussimattila commented on #39
Sure, I didn't have time for it immediately, but if that is desired, I'll have a look at contribution guidelines and prepare a PR during this week.

[2018-03-25 00:04] Alexander-Taran commented on #39
PR waiting.
@niieani  & @EisenbergEffect
who can review it?

[2018-03-25 12:09] #39 closed

[2018-03-25 12:10] niieani commented on #39
Not sure what was the reason I didn't handle async modules, but if it fixes the problem, then that's great, since it shouldn't cause any issues.
Thanks!

[2018-08-11 07:32] smuszel opened #42 "View only routes importing incorrectly"
**I'm submitting a bug report**

* **Library Version:**
2.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
10.8.0

* **NPM Version:**
6.2.0

* **JSPM OR Webpack AND Version**
webpack 4.16.5

* **Browser:**
all
* **Language:**
TypeScript 3.01

**Current behavior:**

When directing to html templates as module id in routes:
`
routes = [{
moduleI

[2018-08-13 18:42] jods4 commented on #42
Can you look at `webpack --display-modules` and tell me:
(a) If `foo.html` is included somewhere in your output?
(b) If so, what is the full module name in the bundle?

It would help if you could provide a _minimal_ repro in some github repo or elsewhere.
Your issue might be related to many things, starting with your Webpack config.
Without further information it can take a very long time -- or it

[2018-10-12 10:40] Alexander-Taran commented on #42
@smuszel will you please follow up on your issue?

[2019-02-26 09:44] michaelw85 opened #43 "Using aliases/paths not supported in require tag"
**I'm submitting a bug report**

* **Library Version:**
aurelia-loader-webpack 2.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
10.15.1

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
webpack 4.29.0

* **Browser:**
Chrome Version 72.0.3626.119 (Official Build) (64-bit)

* **Language:**
TypeScript 3.3.1

**Current behavior:**
R

[2019-04-18 05:11] silbinarywolf opened #44 "Aurelia Plugin doesn't use Webpack "entry" items as expected"
**I'm submitting a bug report**

* **Library Version:**
3.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

**Current behavior:**
Aurelia currently only prepends special runtime files to the first `entry` defined in your Webpack config file.
[code]

Snippet from `node_modules\aurelia-webpack-plugin\dist\AureliaPlugin.js`
[code]

* **What is the motivation / use ca

[2019-04-18 05:15] silbinarywolf commented on #44
Wrong repo.
Moved here: https://github.com/aurelia/webpack-plugin/issues/157

[2019-04-18 05:15] #44 closed

[2021-07-29 21:33] googleoryx opened #60 "Typings missing in release 2.2.3"
**I'm submitting a bug report**

* **Library Version:**
2.2.3

Typings are specified in package.json but they aren't there in the NPM package.

[2021-07-31 11:52] bigopon commented on #60
@googleoryx thanks! 2.2.4 has been published with typings included.

[2021-07-31 11:52] #60 closed

[2022-09-06 19:55] josundt opened #61 "Injected style elements: Multiple /* sourceURL */ lines causes browser devtools issues"
**I'm submitting a bug report**

* **Library Version:**
2.2.4

**Please tell us about your environment:**
* **Operating System:**
Any OS (tested on Windows 11)

* **Node Version:**
LTS (16.17.0)

* **NPM Version:**
8.15.0

* **Webpack version**
webpack: 5.74.0
webpack-cli: 4.10.0
webpack-dev-server 4.10.1

* **Browser:**
all

* **Language:**
TypeScript 4.8.2

**Current behavior:**
For some time ou

[2022-09-08 07:40] josundt commented on #61
I have not received any feedback on this.
This is a low-risk simple change that mitigates the problem in chromium devtools for CSS source maps, and I have tested that it fixes the problem, and that everything incl. CSS source maps works as expected with the fix.

May I propose that I make a PR for solution 2 above?

@bigopon I see that you made the last commits to this repo, and since you have app

[2022-09-08 08:36] bigopon commented on #61
@josundt thanks for the detailed analysis. I saw this issue earlier, and set out a time to read it properly and reply then managed to forget 😓 . That aside, if both solutions work then I'd prefer 1, since it's less prone to breakage from css changes, if I understand /assume the code behavior correctly. For performance, I think it won't matter that much since the module won't be repeatedly load.

[2022-09-08 08:38] josundt commented on #61
@bigopon Perfect. I'll create the PR now.

[2022-09-09 09:18] #61 closed